$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

@import "blueprint/reset";
@import "blueprint";
@import "blueprint/scaffolding";

@include blueprint-scaffolding("body");

