// dimensions
$grid_width: 940px;
$gutter: 20px;
$grid_columns: 12;

// set "true" to show griddle.it grid
$grid: false;

// typography
$baseline: 18px;

// plain values for the griddle.it
$_grid_width: 940;
$_gutter: 20;
$_baseline: 18;

// calculated values
$columnwidth: ($grid_width - (($grid_columns - 1) * $gutter)) / $grid_columns;
