//----------------------------------------------------
// THE GRID
//
// 1024px resolution, 996px is maximum by Jeff Croft:
// http://www.cameronmoll.com/archives/001220.html#007652
//
// Columns have margins on both sides & are floated left:
//
// |--gutter--|--column width--|--gutter--|
//
// Columns get calculated like:
// -columnwidth times iteration aka amount of columns
// -gutters inside the column get added to this
// -minused padding and borders times two

// grid_width is the actual usable width. e.g. for 960gs type of grid, use 940px
//---------------------------------------------------*/

// BEGIN CONFIG

// dimensions
$grid_width: 940px;
$gutter: 20px;
$grid_columns: 12;

// plain values for the griddle.it
$_grid_width: 940;
$_gutter: 20;

// typography
$baseline: 18px;

// box config
$boxborderwidth: 1px;
$boxpadding_vertical: $baseline - $boxborderwidth; // padding is equal to lineheight minus the top & bottom borders
$boxpadding_horizontal: 10px;

// END CONFIG

// calculated values
$columnwidth: ($grid_width - (($grid_columns - 1) * $gutter)) / $grid_columns;