@import "kisko"; // imported from kisko-compass gem
@import "partials/config"; // first load the congig scss with variables
@import "partials/mixins"; // load required mixins

#content {
  @include kisko-grid-block($grid_columns);
}

a {
  color: #333;
}

.counter {
  @include kisko-grid-block(4);
  color: #666;

  .value {
    @include text-shadow; 
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
}

#chart {
  height: 300px;
  @include kisko-grid-block(12);
}

#sessions_new {
  #container {
    width: 490px;
  }

  #content {
    @include kisko-grid-block(6);
  }

  input[type=email],
  input[type=password] {
    width: 438px;
    font-size: 24px;
  }

  input[type=submit] {
    width: 100px;
  }

  input[type=checkbox] {
    width: auto;
  }
}
