= header "Monitoring" do
  = link_to "Add a sensor", new_site_sensor_path(@site)

#content
  - if @sensors.any?
    %ul.list
      = list_of @sensors do |sensor|
        = link_to sensor.name, [@site, sensor]
  - else
    %p You don't have any sensors. Click "Add a sensor" to create one.
